<%= error_messages_for 'image' %>

<p><label for="image_name">Obrazek</label><br/>
<%= text_field 'image', 'name'  %></p>

<p><label for="image_file">Plik</label><br/>
<input type="file" name="image[file]"></p>